<h1 class='navbar navbar-default col-md-12'>Welcome to the Task Manager</h1>

<ul class='row well'>
  <li class='btn btn-default'><a href="/tasks">Task Index</a></li>
  <li class='btn btn-default'><a href="/tasks/new">New Task</a></li>
</ul>
